
maildrop_delivery_slot_cost = $default_delivery_slot_cost
maildrop_delivery_slot_discount = $default_delivery_slot_discount
maildrop_delivery_slot_loan = $default_delivery_slot_loan
maildrop_destination_concurrency_failed_cohort_limit = $default_destination_concurrency_failed_cohort_limit
maildrop_destination_concurrency_limit = $default_destination_concurrency_limit
maildrop_destination_concurrency_negative_feedback = $default_destination_concurrency_negative_feedback
maildrop_destination_concurrency_positive_feedback = $default_destination_concurrency_positive_feedback
maildrop_destination_rate_delay = $default_destination_rate_delay
maildrop_destination_recipient_limit = $default_destination_recipient_limit
maildrop_extra_recipient_limit = $default_extra_recipient_limit
maildrop_initial_destination_concurrency = $initial_destination_concurrency
maildrop_minimum_delivery_slots = $default_minimum_delivery_slots
maildrop_recipient_limit = $default_recipient_limit
maildrop_recipient_refill_delay = $default_recipient_refill_delay
maildrop_recipient_refill_limit = $default_recipient_refill_limit
maildrop_time_limit = $command_time_limit
maildrop_transport_rate_delay = $default_transport_rate_delay
