{#
tlsproxy_client_CAfile = $smtp_tls_CAfile
tlsproxy_client_CApath = $smtp_tls_CApath
tlsproxy_client_cert_file = $smtp_tls_cert_file
tlsproxy_client_chain_files = $smtp_tls_chain_files
tlsproxy_client_dcert_file = $smtp_tls_dcert_file
tlsproxy_client_dkey_file = $smtp_tls_dkey_file
tlsproxy_client_eccert_file = $smtp_tls_eccert_file
tlsproxy_client_eckey_file = $smtp_tls_eckey_file
tlsproxy_client_enforce_tls = $smtp_enforce_tls
tlsproxy_client_fingerprint_digest = $smtp_tls_fingerprint_digest
tlsproxy_client_key_file = $smtp_tls_key_file
tlsproxy_client_level = $smtp_tls_security_level
tlsproxy_client_loglevel = $smtp_tls_loglevel
tlsproxy_client_loglevel_parameter = smtp_tls_loglevel
tlsproxy_client_per_site = $smtp_tls_per_site
tlsproxy_client_policy = $smtp_tls_policy_maps
tlsproxy_client_scert_verifydepth = $smtp_tls_scert_verifydepth
tlsproxy_client_use_tls = $smtp_use_tls
tlsproxy_enforce_tls = $smtpd_enforce_tls
tlsproxy_service_name = tlsproxy
tlsproxy_tls_CAfile = $smtpd_tls_CAfile
tlsproxy_tls_CApath = $smtpd_tls_CApath
tlsproxy_tls_always_issue_session_ids = $smtpd_tls_always_issue_session_ids
tlsproxy_tls_ask_ccert = $smtpd_tls_ask_ccert
tlsproxy_tls_ccert_verifydepth = $smtpd_tls_ccert_verifydepth
tlsproxy_tls_cert_file = $smtpd_tls_cert_file
tlsproxy_tls_chain_files = $smtpd_tls_chain_files
tlsproxy_tls_ciphers = $smtpd_tls_ciphers
tlsproxy_tls_dcert_file = $smtpd_tls_dcert_file
tlsproxy_tls_dh1024_param_file = $smtpd_tls_dh1024_param_file
tlsproxy_tls_dh512_param_file = $smtpd_tls_dh512_param_file
tlsproxy_tls_dkey_file = $smtpd_tls_dkey_file
tlsproxy_tls_eccert_file = $smtpd_tls_eccert_file
tlsproxy_tls_eckey_file = $smtpd_tls_eckey_file
tlsproxy_tls_eecdh_grade = $smtpd_tls_eecdh_grade
tlsproxy_tls_exclude_ciphers = $smtpd_tls_exclude_ciphers
tlsproxy_tls_fingerprint_digest = $smtpd_tls_fingerprint_digest
tlsproxy_tls_key_file = $smtpd_tls_key_file
tlsproxy_tls_loglevel = $smtpd_tls_loglevel
tlsproxy_tls_mandatory_ciphers = $smtpd_tls_mandatory_ciphers
tlsproxy_tls_mandatory_exclude_ciphers = $smtpd_tls_mandatory_exclude_ciphers
tlsproxy_tls_mandatory_protocols = $smtpd_tls_mandatory_protocols
tlsproxy_tls_protocols = $smtpd_tls_protocols
tlsproxy_tls_req_ccert = $smtpd_tls_req_ccert
tlsproxy_tls_security_level = $smtpd_tls_security_level
tlsproxy_use_tls = $smtpd_use_tls
#}
